html {
  background-color: black;
}

.lefaPAge {
  background-color: black;
  position: relative;
}

.lefaH1 {
  position: absolute;
  top: 23%;
  left: 5%;
  color: white;
  font-size: 5rem;
  text-align: center;
}

.lefaSlogan {
  position: absolute;
  top: 45%;
  left: 5%;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.lefaApps {
  position: absolute;
  top: 51%;
  left: 5%;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.lefaAppPhone {
  color: black;
}

.img6 {
  display: flex;
  z-index: -1;
  width: 100%;
}

.img4 {
  display: flex;
  z-index: -1;
  width: 100%;
}

.projectH2 {
  position: absolute;
  left: 5%;
  color: white;
  font-size: 400%;
  text-align: center;
}

.projectSlogan {
  position: absolute;
  top: 9%;
  left: 5%;
  color: white;
  font-size: 200%;
  text-align: center;
}

.card1 {
  position: absolute;
  width: 18rem;
  top: 17%;
  left: 5%;
  color: black;
  font-size: 100%;
}

.card2 {
  position: absolute;
  width: 18rem;
  top: 58%;
  left: 30%;
  color: black;
  font-size: 100%;
}

.card3 {
  position: absolute;
  width: 18rem;
  top: 58%;
  left: 5%;
  color: black;
  font-size: 100%;
}

.card4 {
  position: absolute;
  width: 18rem;
  top: 17%;
  left: 30%;
  color: black;
  font-size: 100%;
}

.ContactText {
  position: absolute;
  color: white;
  width: 100%;
  top: 10%;
  text-align: center;
}

.ContacttH2 {
  font-size: 200%;
}

.contactDetailsDiv {
  margin-top: 3%;
}

.loopVideo {
  top: 7%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.img1 {
  position: fixed;

  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: pink;
}

.img5 {
  width: 36rem;
}

.aboutLayout {
  top: 10%;
  right: 0.01%;
  width: 100%;
}

.aboutLayout {
  position: fixed;
  display: flex;
}

.aboutDescription {
  color: white;
  font-size: 101%;
}

@media (max-width: 600px) {
  html {
    background-color: black;
  }

  .lefaPAge {
    display: flex;
    background-color: #000000;
    position: relative;
  }

  .lefaH1 {
    position: absolute;
    color: white;
    font-size: 4rem;
    text-align: center;
  }

  .lefaSlogan {
    position: absolute;
    display: flex;
    top: 120%;
    color: white;
    font-size: 2rem;
    text-align: center;
  }

  .lefaApps {
    visibility: collapse;
  }

  .lefaAppPhone {
    top: 300%;
    color: white;
    position: absolute;
    display: flex;
    font-size: 1rem;
    text-align: center;
  }

  /* .img8{
  width: 100%;
  z-index: -1;
} */

  .card1 {
    position: absolute;
    width: 8rem;

    top: 45%;
    left: 1%;
    color: black;
    font-size: 100%;
  }

  .card2 {
    position: absolute;
    width: 8rem;

    top: 138%;
    left: 65%;
    color: black;
    font-size: 100%;
  }

  .card3 {
    position: absolute;
    width: 8rem;

    top: 140%;
    left: 1%;
    color: black;
    font-size: 100%;
  }

  .card4 {
    position: absolute;
    width: 8rem;

    top: 45%;
    left: 65%;
    color: black;
    font-size: 100%;
  }

  .cardTitle {
    font-weight: bolder;
    font-size: 50%;
  }

  .cardText {
    font-size: 50%;
  }

  .cardLink {
    font-size: 50%;
  }

  .cardDiv {
    background-color: red;
    padding-left: 30%;
  }

  .projectH2 {
    position: absolute;
    left: 40%;
    color: white;
    font-size: 150%;
    text-align: center;
  }

  .projectSlogan {
    position: absolute;
    top: 15%;
    left: 20%;
    color: white;
    font-size: 100%;
    text-align: center;
  }

  .contactDetailsDiv {
    margin-top: 70%;
  }

  .img1 {
    visibility: collapse;
  }

  .img6 {
    visibility: collapse;
  }

  .img3 {
    visibility: collapse;
  }

  .img4 {
    visibility: collapse;
  }

  .videoDiv {
    visibility: collapse;
  }

  .videoDiv {
    visibility: collapse;
  }

  .DescriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }

  .aboutDescription {
    color: white;
    background-color: black;
  }

  .img5 {
    width: 100%;
  }

  /*
.aboutDiv{
  top: 10rem;
  flex-direction: column;
  overflow-y: scroll;
}

.aboutLayout {
  top: 10%;
  right: 0.01%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aboutDescription {
  color: white;
  font-size: 1.01rem;
  width: 22rem;
  height: 100%;
} */

  .lefaH1 {
    font-size: 3rem;
  }
}
