html {
  background-color: #17153b;
}

.lefaAppPhone {
  visibility: collapse;
}

.animate{
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* classes for bounce animations */
@keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation-name: bounce;
}

.lefaH1 {
  position: absolute;
  top: 23%;
  left: 5%;
  color: white;
  font-size: 5rem;
  text-align: center;
}

.lefaSlogan {
  position: absolute;
  top: 45%;
  left: 5%;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.lefaApps {
  position: absolute;
  top: 51%;
  left: 5%;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.lefaAppPhone {
  color: black;
}

.projectH2 {
  position: absolute;
  left: 5%;
  color: white;
  font-size: 400%;
  text-align: center;
}

.projectSlogan {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.card1 {
  position: absolute;
  width: 15rem;
  top: 30%;
  left: 5%;
  color: black;
  font-size: 100%;
}

.card2 {
  position: absolute;
  width: 15rem;
  top: 78%;
  left: 30%;
  color: black;
  font-size: 100%;
}

.card3 {
  position: absolute;
  width: 15rem;
  top: 80%;
  left: 5%;
  color: black;
  font-size: 100%;
}

.card4 {
  position: absolute;
  width: 15rem;
  top: 30%;
  left: 30%;
  color: black;
  font-size: 100%;
}

.ContactText {
  position: absolute;
  color: white;
  width: 100%;
  top: 10%;
  text-align: center;
}

.ContacttH2 {
  font-size: 200%;
}

.contactDetailsDiv {
  margin-top: 3%;
}

.img1 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* 
.img5 {
  background-color: transparent;
  width: 36rem;
}

.aboutLayout {
  top: 10%;
  right: 0.01%;
  width: 100%;
}

.aboutLayout {
  position: fixed;
  display: flex;
}

.DescriptionContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #17153b;
  padding: 10rem;
  border-color: #17153b;
}

.aboutDescription {
  color: white;
  font-size: 0.85rem;
  padding-left: 5rem;
} */

.aboutDiv1 {
  background-color: #17153b;
  padding: 20px;
}

.DescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;

}

.img5 {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.aboutDescription {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 10px;
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  html {
    background-color: #17153b;
    border-color: #17153b;
  }

  .App {
    border-color: #17153b;
  }

  .lefaAppPhone {
    visibility: collapse;
  }

  .lefaH1 {
    position: absolute;
    top: 3rem;
    color: white;
    font-size: 5rem;
    text-align: center;
  }

  .lefaSlogan {
    position: absolute;
    top: 20rem;
    color: white;
    font-size: 2rem;
    text-align: center;
  }

  .lefaApps {
    position: absolute;
    top: 35rem;
    left: 5%;
    color: white;
    font-size: 1rem;
    text-align: center;
  }

  .lefaAppPhone {
    color: black;
  }

  .img6 {
    display: flex;
    z-index: -1;
    width: 100%;
  }

  .img4 {
    display: flex;
    z-index: -1;
    width: 100%;
  }

  .projectH2 {
    position: absolute;
    left: 4.5rem;
    color: white;
    font-size: 4rem;
    text-align: center;
  }

  .projectSlogan {
    position: absolute;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;
  }

  .card1 {
    position: absolute;
    width: 8rem;
    top: 45%;
    left: 1%;
    color: black;
    font-size: 100%;
  }

  .card2 {
    position: absolute;
    width: 8rem;
    top: 35rem;
    left: 65%;
    color: black;
    font-size: 100%;
  }

  .card3 {
    position: absolute;
    width: 8rem;

    top: 35rem;
    left: 1%;
    color: black;
    font-size: 100%;
  }

  .card4 {
    position: absolute;
    width: 8rem;
    top: 45%;
    left: 65%;
    color: black;
    font-size: 100%;
  }

  .cardTitle {
    font-weight: bolder;
    font-size: 50%;
  }

  .cardText {
    font-size: 50%;
  }

  .cardLink {
    font-size: 50%;
  }

  .ContactText {
    position: absolute;
    color: white;
    width: 100%;
    top: 10%;
    text-align: center;
  }

  .ContacttH2 {
    font-size: 200%;
  }

  .contactDetailsDiv {
    margin-top: 3%;
  }

  /* .img5 {
    width: 20rem;
  }

  .DescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17153b;

    border-color: #17153b;
  }

  .aboutDescription {
    color: white;
    font-size: 1rem;
    width: 25rem;
    margin-right: 5rem;
  }

  .aboutDiv1 {
    border-color: #17153b;
  } */

  .aboutDescription {
    font-size: 0.9rem;
  }
  
  #root {
    border-color: #17153b;
  }
}

@media (max-width: 640px) {
  html {
    background-color: #17153b;
    border-color: #17153b;
  }

  .App {
    border-color: #17153b;
  }

  .lefaAppPhone {
    visibility: collapse;
  }

  .lefaH1 {
    position: absolute;
    top: 3rem;
    color: white;
    font-size: 5rem;
    text-align: center;
  }

  .lefaSlogan {
    position: absolute;
    top: 20rem;
    color: white;
    font-size: 2rem;
    text-align: center;
  }

  .lefaApps {
    position: absolute;
    top: 35rem;
    left: 5%;
    color: white;
    font-size: 1rem;
    text-align: center;
  }

  .lefaAppPhone {
    color: black;
  }

  .img6 {
    display: flex;
    z-index: -1;
    width: 100%;
  }

  .img4 {
    display: flex;
    z-index: -1;
    width: 100%;
  }

  .projectH2 {
    position: absolute;
    left: 4.5rem;
    color: white;
    font-size: 4rem;
    text-align: center;
  }

  .projectSlogan {
    position: absolute;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;
  }

  .card1 {
    position: absolute;
    width: 8rem;
    top: 45%;
    left: 1%;
    color: black;
    font-size: 100%;
  }

  .card2 {
    position: absolute;
    width: 8rem;
    top: 35rem;
    left: 65%;
    color: black;
    font-size: 100%;
  }

  .card3 {
    position: absolute;
    width: 8rem;

    top: 35rem;
    left: 1%;
    color: black;
    font-size: 100%;
  }

  .card4 {
    position: absolute;
    width: 8rem;
    top: 45%;
    left: 65%;
    color: black;
    font-size: 100%;
  }

  .cardTitle {
    font-weight: bolder;
    font-size: 50%;
  }

  .cardText {
    font-size: 50%;
  }

  .cardLink {
    font-size: 50%;
  }

  .ContactText {
    position: absolute;
    color: white;
    width: 100%;
    top: 10%;
    text-align: center;
  }

  .ContacttH2 {
    font-size: 200%;
  }

  .contactDetailsDiv {
    margin-top: 3%;
  }

  .img5 {
    width: 20rem;
  }

  .DescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17153b;

    border-color: #17153b;
  }

  .aboutDescription {
    color: white;
    font-size: 1rem;
    width: 25rem;
   
    
  }

  .aboutDiv1 {
    border-color: #17153b;
  }

  #root {
    border-color: #17153b;
  }
}

